*{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-decoration: none;
}
h1{
  font-size: 30px;
  text-align: center;
}
body{
    background-color: rgb(0, 255, 191);
  }
.login{
    width: 400px;
    background-color: white;
    margin: 25px auto;
}
.login h1{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 32px;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid white;
}
.login form {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 300px;
  height: 60px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 30%;
  padding: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #0d8b7b;
  border: 0;
  cursor: pointer;
  color: white;
}
div{
  overflow: auto;
}

table{
  table-layout: auto;
  width: 100%;
  height: 80%;
  border-collapse: collapse;
  overflow: scroll;
  font-size: 10px;
}

table th, td{
  border: 1px solid black;
  text-align: center;
}
table.center{
  margin-left: auto;
  margin-right: auto;
}

div.naver{
  min-height: auto;
  position: relative;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: black;
}

li{
  float: left;
}

li a{
  display: block;
  margin: 0px;
  padding: 12px 16px;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: black;
}

.active {
  background-color: blue;
}
.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 8;
  float: right;
  overflow-x: auto;
  overflow-y: auto;
  padding-top: 20px;
}
.left{
  flex: auto;
  left: 0;
  overflow: scroll;
  padding-left: 25px;
  padding-bottom: 100px;
  padding-right: 25px;
  padding-top: 20px;
}
.right{
  flex: auto;
  right: 0;
  overflow: scroll;
  padding-left: 25px;
  padding-bottom: 100px;
  padding-right: 25px;
  padding-top: 20px;
}
input[type=text]{
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  font-size: 15px;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  height: 80%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}
select{
  width: 25%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}
input[type=button],input[type=submit]{
  width: 25%;
  background-color: blue;
  border: none;
  color: white;
  margin: 4px 2px;
  padding: 12px 20px;
  cursor: pointer;
}